@font-face {
    font-family: 'Bryant';
    src: url('Bryant-Regular.woff2') format('woff2'),
        url('Bryant-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

